<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Guard - Event Management </title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>
	<div class="container text-center">
		<h1>Admin Home Page</h1>
		<hr>
		<h3><a th:href="@{/showNewGuardForm}">Add Guard</a></h3>
		<h3><a th:href="@{/listGuards}">View Guard</a></h3>
		<h3><a th:href="@{/listFeedback}">View feedbacks</a></h3>
		<h3><a th:href="@{/listPayment}">View Event Transactions</a></h3>
		<h3><a th:href="@{/recordDownload}">Download Transaction history</a></h3>
		<h3><a th:href="@{/addMessage}">Send Message</a></h3>
		<hr>
			<h3><a th:href = "@{/}"> Logout</a></h3>
	</div>
</body>
</html>